# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django database & media
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Keys, certificates, and secrets
*.key
*.pem
*.pub
*.ppk
*.cert
*.crt
secrets/
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
